#color-palette{ 
  margin-bottom: 50px;
}

#color1{ 
  background-color: black;
}

#color2{ 
  background-color: red;
}

#color3{ 
  background-color: aqua;
}

#color4{ 
  background-color: orange;
}  

.color{ 
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

#pixel-board{ 
  font-size: 0;
}  

.pixel{ 
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: -1px;
  margin-bottom: -1px;
  background-color: white;}
